<form [formGroup]="form">
  <div nxLayout="grid">
    <div nxRow>
      <div nxCol="12,12,6">
        <nx-circle-toggle-group
          [responsive]="false"
          [disabled]="isSearchOptionDisabledByAcl$ | async"
          (valueChange)="setSearchType($event)"
        >
          <div nxLayout="grid" class="search-option__grid">
            <div nxRow nxRowJustify="center">
              <div nxCol="4" *ngFor="let circleToggle of circlesToogle">
                <nx-circle-toggle
                  class="search-option__buttons"
                  [value]="circleToggle.value"
                  [icon]="circleToggle.icon"
                  [label]="circleToggle.label"
                  [checked]="getSearchType() === circleToggle.value"
                  [disabled]="isSearchOptionByPlateDisabledByAcl$ | async"
                ></nx-circle-toggle>
              </div>
            </div>
          </div>
        </nx-circle-toggle-group>
      </div>
    </div>
  </div>
</form>
