<form [formGroup]="form">
  <div nxLayout="grid">
    <div nxRow>
      <div nxCol="12,6,6">
        <nx-circle-toggle-group
          [responsive]="false"
          [disabled]="isSearchOptionDisabledByAcl$ | async"
          (valueChange)="setSearchType($event)"
        >
          <div nxLayout="grid" class="search-option__grid">
            <div nxRow nxRowJustify="center">
              <div nxCol="4">
                <nx-circle-toggle
                  class="search-option__buttons"
                  [value]="searchOptionByPlate.value"
                  [icon]="searchOptionByPlate.icon"
                  [label]="searchOptionByPlate.label"
                  [checked]="getSearchType() === searchOptionByPlate.value"
                  [disabled]="isSearchOptionByPlateDisabledByAcl$ | async"
                ></nx-circle-toggle>
              </div>
              <div nxCol="4">
                <nx-circle-toggle
                  class="search-option__buttons"
                  [value]="searchOptionByDetail.value"
                  [icon]="searchOptionByDetail.icon"
                  [label]="searchOptionByDetail.label"
                  [checked]="getSearchType() === searchOptionByDetail.value"
                  [disabled]="isSearchOptionByDetailsDisabledByAcl$ | async"
                ></nx-circle-toggle>
              </div>
              <div nxCol="4">
                <nx-circle-toggle
                  class="search-option__buttons"
                  [value]="searchOptionBySmart.value"
                  [icon]="searchOptionBySmart.icon"
                  [label]="searchOptionBySmart.label"
                  [checked]="getSearchType() === searchOptionBySmart.value"
                  [disabled]="isSearchOptionBySmartDisabledByAcl$ | async"
                ></nx-circle-toggle>
              </div>
            </div>
          </div>
        </nx-circle-toggle-group>
      </div>
    </div>
  </div>
</form>
