body {
  background: #0f2a3d;
  font-family: "Public Sans", sans-serif; // Aquila font
  font-size: 16px !important;
  line-height: 24px !important;
  padding: 24px;
}

code {
  padding: 2px;
  margin: 0;
  background-color: black;
  border-radius: 4px;
}

/**  Copyright APOSIN 2021 */
